<?xml version="1.0" encoding="UTF-8" ?>
<hibernate-configuration xmlns="http://www.hibernate.org/xsd/orm/cfg">

    <session-factory>
        <property name="current_session_context_class">thread</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost/librerias</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"></property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- MAPEO DE CLASES -->

        <mapping class="model.Autor"/>
        <mapping class="model.Editorial"/>
        <mapping class="model.Libro"/>
        <mapping class="model.Libreria"/>
        <mapping class="model.Jefe"/>
        <mapping class="model.Cliente"/>
        <mapping class="model.Pedido"/>
    </session-factory>

</hibernate-configuration>